:root {
  --background-color: rgb(60, 60, 60);
  --heading-main: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  background-color: var(--background-color);
  color: var(--heading-main);

  display: flex;
  justify-content: center;

  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  width: 90%;
}
